<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <title>Pedro Rocha Consultoria</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href=" {{ url_for('static', filename = 'img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename = 'img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename = 'lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename = 'lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'lib/animate/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="page-top">

  <!--/ Nav Star /-->
  <div class="top-banner">
    Organize suas finanças em menos de 3 meses
  </div>
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container" >
      <a class="navbar-brand js-scroll" href="#page-top"><i class="fa-solid fa-money-bill-trend-up fa-2x"></i></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#service">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#avaliation">Avaliações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact" style="color: rgb(255, 0, 0);">QUERO AGENDAR UMA REUNIÃO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image"
    style="background-image: url('{{ url_for('static', filename='img/intro-bg.jpg') }}')">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h3 class="intro-title mb-4">Olá, eu sou Pedro Rocha:</h3>
          <a class="nav-link js-scroll piscando" href="#contact"><p class="intro-subtitle" style="color: rgb(255, 255, 255); font-weight: bold; -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #fefdfd;">Agende sua reunião financeira GRATUITA  <i class="fa-solid fa-calendar-days"></i></p></a>
          <p class="intro-subtitle"><span class="text-slider-items">Especialista em Investimentos CEA®-Anbima, Consultor
              Autorizado CVM, Simplifico suas Finanças</span><strong class="text-slider"></strong></p>
            <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Saiba mais</a></p> -->          
        </div>
      </div>
    </div>
  </div>

  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route"
    style="background-image: url('{{ url_for('static', filename='img/overlay-bg-2.jpg') }}')">
    <div class="overlay-mf"></div>
    <div class="container ">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="centraliza_texto">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Agende sua reunião de diagnóstico gratuita agora!
                    </h5>
                  </div>
                  <div>
                    <form action="{{ url_for('registrar') }}" method="post" class="formLogin">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="nome" class="form-control" id="nome" placeholder="Seu nome*"
                              data-rule="minlen:4" data-msg="Precisamos de pelo menos 4 caracteres" required />
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Seu e-mail*"
                              data-rule="email" data-msg="Por favor, insira um e-mail válido" required/>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="phone" class="form-control" name="telefone" id="telefone"
                              placeholder="(DD)Telefone*" data-rule="minlen:4"
                              data-msg="Por favor, insira um telefone válido" required />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" class="align_button button button-a button-big button-rouded">QUERO AGENDAR MINHA REUNIÃO GRATUITA</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
    
  </section>

  

  <!--/ Intro SOBRE MIM /-->
  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="{{ url_for('static', filename ='img/testimonial-2.jpg') }}"
                        class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Nome: </span> <span>Pedro Rocha Bonifácio</span></p>
                      <p><span class="title-s">Perfil: </span> <span>Planejador Financeiro</span></p>
                      <p style="font-size: 0.8rem;"><span class="title-s">Email: </span> <span>pedrorochabconsultoria@gmail.com</span></p>
                      <p><span class="title-s">Telefone: </span> <span>(12)98218-9753</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Quem é Pedro Rocha?
                    </h5>
                  </div>
                  <p class="lead">
                    Pedro Rocha é especialista em investimentos e planejamento financeiro, com
certificações nas principais entidades financeiras do Brasil, como ANBIMA e CVM.
                  </p>
                  <p class="lead">
                    Ao aliar a tecnologia de softwares financeiros ao extenso conhecimento do
mercado de capitais, proporciona confiabilidade e controle nas finanças das pessoas.
                  </p>
                  <p class="lead">
                    Seu método vai desde o controle orçamentário até a escolha dos melhores
investimentos, de modo a simplificar as finanças de cada um da maneira mais eficiente e
individualizada possível.
                  </p>
                  <img src="{{ url_for('static', filename = 'img/certificacao.png') }}" width="350x550" alt="" class="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>



  </section>

  <!--/ Section NOSSOS SERVIÇOS /-->
  <section id="service" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Meus Serviços
            </h3>
            <p class="subtitle-a">
              E o que você vai receber com meus serviços?
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Diagnóstico</h2>
              <p class="s-description text-center">
                Receberá um relatório com a análise de seu momento financeiro
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="fa-solid fa-pen"></i></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Planejamento Financeiro</h2>
              <p class="s-description text-center">
                Receberá também um planejamento de longo prazo que dirá quando e quanto precisará para alcançar a liberdade financeira
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="fa-regular fa-clock"></i>
            </div>
            <div class="service-content">
              <h2 class="s-title">Oportunidade</h2>
              <p class="s-description text-center">
                Conhecerá a metodologia para simplificar suas finanças e ter mais eficiência
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="fa-solid fa-arrows-to-circle"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Direcionamento</h2>
              <p class="s-description text-center">
                Você terá acesso ao método validado por diversos estudos e usado por mim para construir um patrimônio sólido para longo prazo
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="fa-solid fa-arrow-trend-up"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Resultados</h2>
              <p class="s-description text-center">
                Garantirá bons resultados frutos de estatísticas testadas e comprovadas por estudosinternacionais, como JP Morgan e Invesco ®
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="fa-solid fa-address-book"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Exclusividade</h2>
              <p class="s-description text-center">
                Receberá um tratamento individualizado e específico, de acordo com suas necessidades
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--/ Section Testimonials Star /-->
  <section id="avaliation">
    <div class="testimonials paralax-mf bg-image"
      style="background-image: url('{{ url_for('static', filename='img/overlay-bg.jpg') }}')">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="testimonial-mf" class="owl-carousel owl-theme">
              <div class="testimonial-box">
                <div class="author-test">
                  <h3 class="author"> Conheça quem já se beneficiou de minha metodologia!</h3>
                  <img src="{{ url_for('static', filename = 'img/testimonial-4.jpg') }}" alt=""
                    class="rounded-circle b-shadow-a">
                  <span class="author">Alef Barbosa</span>
                </div>
                <div class="content-test">
                  <p class="description lead">
                    Foi uma das melhores decisões que tomei para minha vida financeira. Seu conhecimento profundo do
                    mercado financeiro e sua capacidade de traduzir números em estratégias claras e viáveis me ajudaram
                    a alcançar resultados extraordinários.
                  </p>
                  <span class="comit"><i class="fa fa-quote-right"></i></span>
                </div>
              </div>
              <div class="testimonial-box">
                <div class="author-test">
                  <h3 class="author"> Conheça quem já se beneficiou de minha metodologia!</h3>
                  <img src="{{ url_for('static', filename = 'img/testimonial-1.jpg') }}" alt=""
                    class="rounded-circle b-shadow-a">
                  <span class="author">Gabriel Melgaço</span>
                </div>
                <div class="content-test">
                  <p class="description lead">
                    Seu compromisso com a transparência e a ética em cada decisão foi algo que me trouxe muita
                    confiança. Recomendo altamente os serviços do Pedro Rocha para quem busca uma gestão financeira de
                    alto nível.
                  </p>
                  <span class="comit"><i class="fa fa-quote-right"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer style="background-color: black;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; Copyright <strong>Pedro Rocha Consultoria e DevFolio</strong>. All Rights Reserved</p>
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
              -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              © 2024 Copyright:
              <a class="text-body" href="https://github.com/gabriel-melgaco?tab=repositories" target="blank">MEG_DEV_</a>
              <a href="/database"><i class="fa-solid fa-gear"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Section Contact-footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <a class="whatsapp-link" href="https://wa.me/5512982189753?text=Tenho%20interesse%20em%20conhecer%20sua%20assessoria"
    target="_blank"><i class="fa-brands fa-square-whatsapp fa-beat fa-2x"></i></a>


  <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename ='lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'lib/jquery/jquery-migrate.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'lib/popper/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'lib/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'lib/easing/easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'lib/counterup/jquery.waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'lib/counterup/jquery.counterup.js') }}"></script>
  <script src="{{ url_for('static', filename = 'lib/owlcarousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'lib/lightbox/js/lightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'lib/typed/typed.min.js') }}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{{ url_for('static', filename = 'contactform/contactform.js') }}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/9cf3f4ac1c.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


</body>

</html>